body {
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    margin: 0;
    background-color: white;
}
  
nav{
    display: block;
    padding: 0 40px;
    background-color: darkgray;
    min-height: 40px;

}
  
.menu {
    padding-left:0px;
}
.menu ul, .menu li{
    list-style:none;
    display: inline-block;
}
.menu li a {
    display: inline-block;
    line-height: 40px;
    padding: 0 15px;
}
.menu li a:hover {
    background-color: lightgray;
}
.content {
    padding: 0 40px;
}
table {
   vertical-align:middle;
   text-align:left;  
   border-collapse: collapse;
 }
.header {
    font-weight:bold;
}
tr:nth-child(even) {
    background-color: linen;
}
 td,th {
    padding: 5px 10px;
 }
 tr:hover {
     background-color: lightsalmon;
 }
 tr:first-child:hover {
     background-color: white;
 }
 .text-box {
     width: 200px;
 }
 select{
     width: 204px;
 }
 .lable {
     width: 100px;
     padding-bottom: 15px;
     padding-right: 5px;
     display: inline-block;
 }
 .ui-autocomplete {
     background-color: rgb(237, 237, 237);
     width: 194px;
     padding: 0;
 }
 .ui-menu-item {
     list-style: none;
     padding: 5px;
     cursor: pointer;
 }
 .ui-state-focus {
     background-color: lightgray;
 }
 .ui-helper-hidden-accessible {
     display: none;
 }
