/packages
/TimProject.v12.suo
/TimProject/bin
/TimProject/obj
/TimProject/PersonalConnection.config
/TimProject/TimProject.csproj.user
/TimProject/ckfinder/_source/bin
/TimProject/ckfinder/_source/obj
/TimProject/App_Data/cache
/TimProject/ckfinder/_source/CKFinder.Net.csproj.user
